# colors

000000 bk black
7f7f7f gr   gray
ffffff wt   white     bright-white

ff0000 rd   red       bright-red
00ff00 gn   green     bright-green
0000ff bl   blue      bright-blue
ffff00 yl   yellow    bright-yello
00ffff cy   cyan      bright-cyan
ff00ff mg   magenta   bright-magente

7f0000 d-rd dark-red
007f00 d-gn dark-green
00007f d-bl dark-blue
7f7f00 d-yl dark-yellow
007f7f d-cy dark-cyan
7f007f d-mg dark-magenta

entry {
    
}



